@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}

	:root.fusiondoc-inhibit-smooth-scrolling {
		scroll-behavior: auto;
	}
}

.md-header,
.md-tabs {
	color: var(--md-default-fg-color);
	background-color: var(--md-default-bg-color);
}

.md-header[data-md-state=shadow] {
	box-shadow: 
		0 0 0.35rem 0.5rem var(--fusiondoc-bg-1) !important;
	background-color: var(--fusiondoc-bg-1);
}

@media screen and (min-width: 160rem) {
	.md-header[data-md-state=shadow] {
		box-shadow: none !important;
		background-color: transparent;
	}
}

.md-tabs .md-tabs__link--active {
	font-weight: 700;
}

@media screen and (min-width: 80rem) {
	.md-grid {
		margin-left: 2rem;
		margin-right: 2rem;
		max-width: none;
	}

	.md-content {
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}

	.md-sidebar:not([hidden]) + .md-content {
		transform: translateX(-6.05rem);
	}

	.md-sidebar:not([hidden]) + .md-sidebar:not([hidden]) + .md-content {
		transform: unset;
	}

	.md-footer__inner {
		max-width: calc(40rem - 1rem);
		margin-left: auto;
		margin-right: auto;
	}
}

.md-top {
	box-shadow: none !important;
	background-color: var(--fusiondoc-fg-2);
	color: var(--fusiondoc-bg-1);
	z-index: 1000;
	border-radius: 0.25rem;
	padding: 0.25rem 0.75rem;
	font-weight: 600;
}

.md-top[data-md-state=hidden] {
	transform: translate(-50%,-1rem);
	transition-duration: 125ms;
}

.md-top > svg {
	transform: scale(75%);
	margin-left: -0.25rem;
}

.md-top:is(:focus, :hover) {
	background-color: var(--fusiondoc-accent);
	color: var(--fusiondoc-bg-1);
}

@media screen and (min-width: 90rem) {
	.md-top {
		transform: translate(-50%,-2.7rem);
	}
	
	.md-top[data-md-state=hidden] {
		transform: translate(-50%,-3.7rem);
	}
}

.md-banner {
	overflow-x: hidden;
	text-align: center;
}

.md-banner__inner {
	position: relative;
	max-width: 100%;
	width: fit-content;
	margin: 0 auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 100%;
}

.md-banner__inner::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	right: -50%;
	bottom: 0;
	background: url(../aura.png);
	background-size: 100% 100%;
}

.md-footer__inner {
	font-weight: 600;
}

.md-footer__title,
.md-footer__direction {
	padding: 0;
}

.md-footer__button.md-icon {
	margin-top: -0.25rem;
	transform: translateX(0rem);
	transition: transform 0.2s ease;
}

.md-footer__link--next:hover .md-footer__button.md-icon {
	transform: translateX(0.5rem);
}

.md-footer__link--prev:hover .md-footer__button.md-icon {
	transform: translateX(-0.5rem);
}

.md-search__overlay,
.md-overlay {
    background-color: var(--fusiondoc-smoke);
}

.md-search__form {
	background-color: transparent;
	border-radius: 0.25rem;
}

.md-search__form:hover {
	background-color: var(--fusiondoc-bg-2);
  }

.md-search__input::placeholder,
.md-search__input+.md-search__icon {
	color: var(--md-default-fg-color);
}

.md-header__topic {
	font-weight: 600;
	letter-spacing: -0.02em;
	font-size: 0.8em;
}

.md-header__topic .md-version {
	font-size: inherit;
}

[dir=ltr] .md-header__title {
	margin-left: 0rem;
}

[dir=rtl] .md-header__title {
	margin-right: 0rem;
}

.md-header__title .md-header__topic:first-child {
	height: 2.4rem;
}

.md-header__title .md-header__topic:first-child::before {
	content: "";
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	width: 2.4rem;
	height: 0.8rem;
	margin: auto 0;
}


[data-md-color-scheme="fusiondoc-light"] .md-header__title .md-header__topic:first-child::before {
	background-image: url(../wordmark-tiny-light.svg);
}

[data-md-color-scheme="fusiondoc-dark"] .md-header__title .md-header__topic:first-child::before {
	background-image: url(../wordmark-tiny-dark.svg);
}

.md-header__title[data-md-state=active] .md-header__topic {
    transform: translateY(-0.5rem);
}

.md-header__title .md-header__topic+.md-header__topic {
    transform: translateY(0.5rem);
}

.md-tabs[data-md-state="hidden"] .md-tabs__link {
	transform: translateY(-50%);
}

.md-search__scrollwrap {
	background-color: var(--fusiondoc-bg-2);
}

.md-search__output,
.md-search__scrollwrap {
	border-bottom-left-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
	background-color: var(--fusiondoc-bg-2);
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: none;
	color: var(--md-default-fg-color);
  }

.md-search-result__meta {
	background-color: transparent;
}

.md-search-result__item {
	box-shadow: none;
}

.md-search-result__teaser {
	color: var(--fusiondoc-fg-3);
}

.md-search-result__title {
	font-weight: 600 !important;
}

.md-copyright {
	opacity: 0.5;
}

.md-copyright::after {
	content: "∙ Theme by Daniel P H Fox";
}

@media screen and (max-width: 76.1875em) {
	.md-nav--primary .md-nav__item {
		border-top: none;
	}

	.md-nav__source,
	.md-nav--primary .md-nav__title[for=__drawer],
	.md-nav__title {
		background-color: transparent !important;
		color: inherit !important;
	}

	.md-nav__title {
		font-weight: 600 !important;
	}

	.md-nav--primary .md-nav__title~.md-nav__list {
		box-shadow: none;
	}
}

.md-input {
	background: var(--fusiondoc-bg-2);
}

.md-input:not(:hover, :focus) {
	border-bottom-color: var(--fusiondoc-grey-a10) !important;
}

.md-input:focus {
	--md-accent-fg-color: var(--fusiondoc-accent);
}

.md-input::placeholder {
	opacity: 1;
	transform: translateX(0rem);
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.md-input:focus::placeholder {
	opacity: 0;
	transform: translateX(1rem);
}

::selection {
	background-color: var(--fusiondoc-orange-n1);
	color: var(--fusiondoc-grey-10);
}

#fusiondoc-home {
	opacity: 0;
}