.fusiondoc-api-header {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: 0 !important;
	flex-wrap: wrap;
}

.fusiondoc-api-header .headerlink {
	display: none;
}

.fusiondoc-api-header > * {
	flex-shrink: 0;
}

.fusiondoc-api-header .fusiondoc-api-name {
	margin-right: auto;
}

.fusiondoc-api-pills {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5em;
	flex-wrap: wrap;
	line-height: 1.5em;

	font-size: 0.75rem;
	margin-left: 0.5em;
	margin-bottom: -2em;

	letter-spacing: -0.02em;
	font-weight: 400;
	vertical-align: middle;
}

.fusiondoc-api-pills + h1,
.fusiondoc-api-pills + h2,
.fusiondoc-api-pills + h3,
.fusiondoc-api-pills + h4 {
	margin-top: 0;
}

.fusiondoc-api-header .fusiondoc-api-pills {
	font-size: 0.5em;
	margin-bottom: 0em;
}

.fusiondoc-api-pills > * {
	padding: 0.25em 0.75em;
	border-radius: 1em;
	height: 2em;
	flex-shrink: 0;
}

.fusiondoc-api-pills .fusiondoc-api-pill-type {
	background-color: var(--fusiondoc-accent-a20);
	color: var(--fusiondoc-accent-text);
}

.fusiondoc-api-pills .fusiondoc-api-pill-since {
	background-color: var(--fusiondoc-accent-hover-a20);
	color: var(--fusiondoc-accent-hover-text);
}

.fusiondoc-api-breadcrumbs {
	display: flex;
	align-items: center;
	height: 2rem;
}

.fusiondoc-api-breadcrumbs > a {
	color: var(--fusiondoc-fg-3);
}

.fusiondoc-api-breadcrumbs > a:hover {
	color: var(--fusiondoc-accent-hover);
}

.fusiondoc-api-breadcrumbs > a::after {
	content: "/";
	margin: 0 0.25rem;
	opacity: 0.5;
	color: var(--fusiondoc-fg-3);
}

.fusiondoc-api-index-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	color: var(--fusiondoc-fg-1) !important;
	margin: 1rem 0;
}

.fusiondoc-api-index-link:hover {
	color: var(--fusiondoc-accent-hover) !important;
}

.fusiondoc-api-index-link > .fusiondoc-api-index-arrow {
	transform: translateX(0rem);
	transition: transform 0.2s ease;
}

.fusiondoc-api-index-link:hover > .fusiondoc-api-index-arrow {
	transform: translateX(0.5rem);
}

.fusiondoc-error-api-section {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.fusiondoc-error-api-section.fusiondoc-error-api-section-defocus {
	opacity: 0.4;
	transition: opacity 0.4s ease;
}