@import url('https://fonts.googleapis.com/css?family=Inter:500,500i,600,600i%7C&display=fallback');

* {
	scroll-behavior: smooth;
	scrollbar-color: dark;
	color-scheme: dark;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
	font-weight: 600;
	color: var(--md-default-fg-color);
}

/* [data-md-color-scheme="fusion-light"] {
	--md-primary-fg-color:        #ededef;
	--md-primary-fg-color--light: #f8f8fa;
	--md-primary-fg-color--dark:  #dddddf;

	--md-default-fg-color: #1d1d1f;
	--md-default-fg-color--light: #8d8d8f;
	--md-default-fg-color--lighter: #cdcdcf;
	--md-default-fg-color--lightest: #ededef;

	--md-primary-bg-color: var(--md-default-fg-color);
	--md-primary-bg-color--light: var(--md-default-fg-color--light);

	--md-accent-fg-color: #5bb0ff;
	--md-accent-fg-color--transparent: rgba(0, 0, 0, 0);

	--md-typeset-a-color: #0085ff;
	--md-text-link-color: var(--md-typeset-a-color);

	--md-footer-fg-color: var(--md-default-fg-color);
	--md-footer-fg-color--light: var(--md-default-fg-color--light);
	--md-footer-fg-color--lighter: var(--md-default-fg-color--light);

	--fusion-header-glass-background: rgba(237, 237, 239, 0.8);
} */

[data-md-color-scheme="fusion-dark"] {
	--md-default-bg-color: #1d1d1f;
	--md-default-bg-color--light: #8d8d8f;
	--md-default-bg-color--lighter: #cdcdcf;
	--md-default-bg-color--lightest: #ededef;

	--md-default-fg-color: #f8f8fa;
	--md-default-fg-color--light: #8d8d8f;
	--md-default-fg-color--lighter: #4d4d4f;
	--md-default-fg-color--lightest: #2d2d2f;

	--md-primary-fg-color:        #0d0d0f;
	--md-primary-fg-color--light: #1d1d1f;
	--md-primary-fg-color--dark:  #000000;

	--md-primary-bg-color: var(--md-default-fg-color);
	--md-primary-bg-color--light: var(--md-default-fg-color--light);

	--md-accent-fg-color: #adadaf;
	--md-accent-fg-color--transparent: rgba(0, 0, 0, 0);

	--md-typeset-a-color: #FFA407;
	--md-text-link-color: var(--md-typeset-a-color);

	--fusion-header-glass-background: rgba(13, 13, 15, 1);
	--fusion-header-glass-blur: initial;

	--md-footer-fg-color: var(--md-default-fg-color);
	--md-footer-fg-color--light: var(--md-default-fg-color--light);
	--md-footer-fg-color--lighter: var(--md-default-fg-color--light);

    --md-code-fg-color: #f8f8fa;
    --md-code-bg-color: rgba(0, 0, 0, 0.2);
    --md-code-hl-number-color: hsla(6, 74%, 63%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
    --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
    --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
    --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
	--md-code-hl-string-color: hsla(150, 58%, 44%, 1);
	--md-code-hl-color: hsla(38, 100%, 51%, 0.1);

	--fusion-code-border-color: #FFA407;

	--md-admonition-bg-color: rgba(255, 255, 255, 0.04);
}

@supports (backdrop-filter: blur(1rem)) {
	@media screen and (min-width: 59.9375em) {
		[data-md-color-scheme="fusion-dark"] {
			--fusion-header-glass-background: rgba(13, 13, 15, 0.8);
			--fusion-header-glass-blur: blur(1rem);
		}
	}
}

[data-md-color-primary=black] .md-header {
	background-color: var(--md-primary-fg-color);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);

	transition: background 0s;
}

[data-md-color-primary=black] .md-header[data-md-state="shadow"] {
	background: var(--fusion-header-glass-background);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	backdrop-filter: var(--fusion-header-glass-blur);
}

[data-md-color-primary=black] .md-tabs {
	background-color: var(--md-primary-fg-color);
	border-bottom: none !important;
}

.md-tabs__link--active {
	font-weight: 600;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
	transform: scale(1.3333);
}

.md-header__title {
	font-weight: 600;
}

.md-source__repository {
	font-weight: 600;
}

.md-source__repository .md-source__facts {
	font-weight: 400;
}

[data-md-color-primary=black] .md-search__form {
    background-color: rgba(255, 255, 255, 0);
}

[data-md-color-primary=black] .md-search__form:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

[data-md-color-primary=black] .md-search__input::placeholder {
    color: inherit;
}

/* fix search overlays - backdrop-filter causes some things to break  */

@media screen and (min-width: 60rem) {
	[data-md-toggle=search]:checked~.md-header .md-search__overlay {
		height: 100vh;
	}
}

@media screen and (max-width: 59.9375rem) {
	[data-md-toggle=search]:checked~.md-header .md-search__inner {
		height: 100vh;
	}
}

.md-typeset .highlight .hll {
	box-shadow: inset 0.125em 0 0 var(--fusion-code-border-color);
}

.md-typeset .admonition-title,
.md-typeset summary {
	background: none !important;
}

.fusion-typeset-api-path {
	color: var(--md-default-fg-color--light);
	display: block;
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
}

.fusion-typeset-api-path::before {
	content: "API: ";
	font-weight: 600;
}

.md-typeset .tabbed-set>label {
	font-weight: 400;
	color: inherit;
}

.md-typeset .tabbed-set>input:checked+label {
	font-weight: 600;
	color: inherit;
	border-color: currentColor;
}

.md-footer {
	background-color: var(--md-primary-fg-color);
	color: inherit;
}

.md-footer__title {
	font-weight: 600;
}

.md-footer__direction {
	font-weight: 400;
}

.md-footer__link:focus,
.md-footer__link:hover {
	opacity: 0.5;
}

.md-footer-meta {
	background: none;
}

.md-footer-copyright::after{
	content: "· Theme by Elttob";
}

.md-content {
	padding-bottom: 5em;
}

@media screen and (min-width: 60rem) {
	.fusion-404 {
		padding-left: 8rem;
	}

	.fusion-404 h1 {
		margin-left: -8rem;
	}
}

.fusion-404 h1{
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.fusion-404 h1 img{
	width: 6rem;
	height: 6rem;
	margin-right: 2rem;
}
