# Taken from roblox-ts under the MIT license https://github.com/roblox-ts/roblox-ts/blob/master/.github/workflows/ci.yml

name: CI

on:
  pull_request:
  push:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install Foreman
        uses: rojo-rbx/setup-foreman@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Selene
        run: selene src test benchmark
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Run StyLua check
        uses: JohnnyMorganz/stylua-action@1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --check src test benchmark
  unit-tests:
    name: Unit Tests
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install Roblox Studio
        uses: OrbitalOwen/roblox-win-installer-action@1.1
        with:
          # This cookie is intentionally public, because secrets are not available in pull request CI runs
          # It is from an empty account and not a security vulnerability
          cookie: ${{ secrets.ROBLOSECURITY || '_|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|_C4D95B1043562D1055F60AAD48C2EF833CED19A4C04639B9558E9D1CCF2AEA1718B65A404D1C553877E9E74F30A3FA55CABE3211B9496B9BBC425C8979334A9FF3C4EDE5EC33DA6A4A7CC0CDEF2FCA493B88D458EEEFC962FB1F729D01C830D98A3D0338400A0D843CDF8EFE6B42406208CA259398C6C207559D56F0429CD9D567FE6E6CCFCE3C4C87CFAC12DF8F5A0EAC7DB5E6F28D2DA7F722123DBBBA26C8339684F947C915758CC619EC51006A615C82AA087D63772D0CC59473AA35802558434770C7A0163B41E9C7E2937F51B0F8A4C0C493411B7CF470604D39B2ADEC460EDD1AB35086FC3B764770B43A8B7E6D6997AB32A0990E548E118090980192BF581C68754D39D2AC11AE2A2D7FDFC7C4CB34902CBD0B19816DC4BB023F0538C69487EAC48BEC3A7DCED3D142BE185BD103F336C24CD89EA2C3F4D3BBF8F672C922997B1CB503A2860C8F659C1661B517D1C9D7' }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Foreman
        uses: rojo-rbx/setup-foreman@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build test place
        run: rojo build test-runner.project.json -o test.rbxl

      - name: Run tests
        shell: bash
        run: run-in-roblox --place test.rbxl --script test-runner/Run.client.lua &> test-out.txt
        continue-on-error: true
        
      - name: Check test status
        shell: bash
        run: cat test-out.txt | grep "0 failed, 0 skipped" || (cat test-out.txt && exit 1)
